{% extends "base.html" %}
{% block title %}All Tasks{% endblock title %}
{% block content %}
    <h1>List of Tasks</h1>
    <a href="{% url "new_task" %}">create task</a>
    <ul>
        {% for task in tasks %}
            <li><a href="{% url "detail" id=task.id %}">
                {{task.title}}</a>
                Due:
                {{task.due_date}}
                {% if task.is_completed %}
                    Completed
                {% else %}
                    Not Completed
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}